@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,500&display=swap');


.nav-wrapper{
    background-color: #06273A;
}

body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
    font-family: 'Arvo', serif;
}

main {
    flex: 1 0 auto;
  }

.btn_recipe{
    height: 2.1rem;
    width: 1rem;
    line-height: 24px;
    margin: 5px 5px;
    padding: 0 0.5em;
    border: 0.1rem  #26a69a solid;
    border-radius:0.3rem;
}

nav .brand-logo {
    padding-left: 10px;
    font-family: 'Playfair Display', serif;
    letter-spacing: 2px;
}

#logo{
    opacity: 0.75;
    border-radius: 20px;
    margin-top: 10px;
}

.title{
    margin-left:45%;
}

.page-footer {
	background-color:#06273A;
	color: #CE7C2E;
	margin-bottom: 0;
}

#btn-footer,
#btn-footer2 {
	padding-right: 3%;
	color: #CE7C2E;
}

#modal1 {
	background-color: #06273A;
	color: #CE7C2E;
	width: 40%;
	height: 60%;
	text-align: center;
}

#modal2,
#modal3 {
	display: none;
	background-color:#06273A;
	color:#CE7C2E;
	width: 40%;
	height: 20%;
	text-align: center;
}

#modal3 {
	height: 30%;
}

.card-title{
    color: #06273A;
}

.card{
    border:#06273A solid 0.5rem;
    border-radius: 0.5rem;
}

.card-image{
    height: 30rem;
}

.feedback_button {
	background: #CE7C2E;
	color: #06273A;
}