<!-- Base document used for following DRY -Dont Repeat Yourself - principle  -->
<!DOCTYPE html>
<html>

<head>
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
      <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css"/>
</head>
   <header>
 <nav>
     <div class="nav-wrapper">
                <a href="{{url_for('get_recipes')}}" class="brand-logo">
                <img src="" class="logo">     
                <a class="title"> liqu0r </a>
                <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons"></i></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="{{url_for('get_recipes')}}">Cocktails</a></li>
                    <li><a href="{{url_for('add_recipe')}}">Add Your liqu0r </a></li>
                </ul>
                <ul class="side-nav" id="mobile-demo">
                    <li><a href="{{url_for('get_recipes')}}">Cocktails</a></li>
                    <li><a href="{{url_for('add_recipe')}}">Add Your liqu0r</a></li>
                </ul>
            </div>
  </nav>
   </header>
   <body>
   <!-- Block content container-->
      <div class="container">
         {% block content %} {% endblock %}
      </div>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <!-- JavaScript codes -->
      <script type="text/javascript">
         $(document).ready(function() {
         //When the document is ready, the user is able to select a category before submiting the recipe
         $('select').material_select();
         $(".button-collapse").sideNav();
         });
      </script>
   </body>
</html> 