<!-- Base document used for following DRY -Dont Repeat Yourself - principle  -->
<!DOCTYPE html>
<html>

<head>
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
      <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap" rel="stylesheet">
</head>
   <header>
 <nav>
     <div class="nav-wrapper">
                <a href="{{url_for('get_recipes')}}" class="brand-logo">
                <img src="{{ url_for('static', filename='images/cocktail.JPG') }}" class="logo">     
                <a class="title"> liqu0r </a>
                <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons"></i></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="{{url_for('get_recipes')}}">Cocktails</a></li>
                    <li><a href="{{url_for('add_recipe')}}">Add Your liqu0r </a></li>
                </ul>
                <ul class="side-nav" id="mobile-demo">
                    <li><a href="{{url_for('get_recipes')}}">Cocktails</a></li>
                    <li><a href="{{url_for('add_recipe')}}">Add Your liqu0r</a></li>
                </ul>
            </div>
  </nav>
   </header>
   <body>
   <!-- Block content container-->
      <div class="container">
         {% block content %} {% endblock %}
      </div>
      <footer class="page-footer">
          <div class="footer-copyright">
            <div class="container">
            &copy; Peter Komaromi
            <a href="https://github.com/kompeet" target="_blank" rel="noopener"
                  class="waves-effect waves-light btn-small right" id="btn-footer2">
               <i class="material-icons left"> code </i>My GitHub
               </a>
            <a class="waves-effect waves-light btn-small right  modal-trigger" href="#modal1" id="btn-footer">
               <i class="material-icons left"> message </i>Send Feedback
               </a>
               

            </div>
          </div>
</footer>
<!-- Modal Structure -->
      <div id="modal1" class="modal">
         <div class="modal-content">
            <h4>Send me feedback!</h4>
            <form onsubmit="return sendMail(this);">
               <label for="name" class="label-name">Name:</label>
               <input type="text" name="name" id="name" placeholder="Your name..." required>
               <label for="email" class="label-email">Email:</label>
               <input type="email" name="emailaddress" id="emailaddress" placeholder="Your email address..." required>
               <label for="feedback" class="label-feedback">Feedback:</label>
               <textarea id="feedback" name="feedback" placeholder="Write your feedback here" required></textarea>
               <button class="btn waves-effect waves-light feedback_button" type="submit" value = "send" name="action">Submit <i class="material-icons right">send</i> </button>
            </form>
         </div>
      </div>
      <!--Succes message modal, will pop up when the user succesfully submitted their feedback-->
      <div id="modal2" class="modal">
         <div class="modal-content">
            <h4>Thanks for your feedback!</h4>
         </div>
      </div>
      <!--Error message when the feedback can't be submitted-->
      <div id="modal3" class="modal">
         <div class="modal-content">
            <h4>Something went wrong... Please contact me at kompeet1@gmail.com</h4>
         </div>
      </div>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/emailjs-com@2.4.1/dist/email.min.js"> </script>
      <script src="{{ url_for('static', filename='js/sendEmail.js') }}"></script>
      <script src="{{ url_for('static', filename='js/script.js') }}"></script>

    <!-- JavaScript codes -->
      <script>
         $(".dropdown-button").dropdown();
      </script>
   </body>
   
</html> 