{% extends 'base.html'%}
{% block content %}

<!-- Block title to achieve different titles on different pages -->
<title> {% block title %}Categories{% endblock %} </title>
<!-- Display choosen category and the recipes in that category by it's name using the recipe's id using cards
To view the card the user has to click on the picture or the title-->
<div class="container center categories">
    <div class="row">
    {% for recipe in recipes %}
      <div class="recipe-publish col m4 s6">
         <div class="card" id="recipecard">
            <div class="card-image" id="imagerecipe">
               <a href="{{url_for('display_recipe', recipe_id=recipe._id)}}">
               <img alt="picture" class ="responsive-img" src="{{recipe.picture}}">
                </a>
           </div>
            <div class="card-content">
            <a href="{{url_for('display_recipe', recipe_id=recipe._id)}}">
                <span class="card-title" id="titlerecipe">{{recipe.title}}</span>
             </a>
            </div>
             <div class="card-action">
               <a href="{{url_for('display_categories', category_name= recipe.category_name)}}">{{recipe.category_name}}</a>
            </div>
         </div>
      </div>
      {%endfor%}
    </div>
</div>
{% endblock %}