<!--Editing recipes -->
{% extends 'base.html'%}
{% block content %}
<h3>Edit this liqu0r</h3>
<div class="row">
   <form action="{{ url_for('insert_recipe') }}" method="POST" class="col s12">
      <div class="row">
         <div class="input-field col s12">
            <i class="material-icons prefix">title</i>
            <input id="title" name="title" type="text">
            <label for="icon_prefix"> Title </label>
         </div>
      </div>
      <div class="row">
         <div class="input-field col s12">
            <i class="material-icons prefix">format_list_bulleted</i>
            <textarea name="ingredients" id="ingredients" class="materialize-textarea"></textarea>
            <label for="icon_list">List of Ingredients</label>
         </div>
      </div>
      <div class="row">
         <div class="input-field col s12">
            <i class="material-icons prefix">mode_edit</i>
            <textarea name="how_to" id="how_to" class="materialize-textarea"></textarea>
            <label for="icon_edit">Instructions</label>
         </div>
      </div>
      <div class="row">
         <div class="input-field col s12">
            <i class="material-icons prefix">image</i>
            <input id="picture" name="picture" type="text">
            <label for="icon_picture"> Provide an URL </label>
         </div>
      </div>
      <div class="row">
         <div class="input-field col s12">
            <i class="material-icons prefix">add_to_photos</i>
            <!--Select a category with a disabled with instructions-->
            <select id="category" name="category_name">
               <option value="" disabled selected>Choose Category</option>
               {% for cat in categories %}
               <option value="{{cat.category_name}}">{{cat.category_name}}</option>
               {% endfor %}
            </select>
            <label>Recipe category</label>
         </div>
         <!-- Submit button to insert the new recipe, and get redirected to the get_recipes page -->
         <div class="submit">
            <button class="btn waves-effect waves-light" type="submit" name="action">Submit
            <i class="material-icons right">done</i>
            </button>
         </div>
      </div>
   </form>
</div>
{% endblock %} 