<!-- Structure of the recipes using templates -->
{% extends 'base.html'%} {% block content %}
<!-- For loop rendering the data provided -->
<title> {% block title %}liqu0rs{% endblock %} </title>
<div class="container center">
<!--Search bar with a submit button-->
<div class="row center" id="search_recipes">
        <div class="searchbar col m12 s12">
        <nav>
          <div class="nav-wrapper">
          <form action="{{url_for('find_recipes')}}">
            <div class="input-field">
              <input id="search0" type="search" name="search" required>
                     <label class="label-icon" for="search" id="search">
                     <i class="material-icons">search</i></label>
                     <i class="material-icons">close</i>
            </div>
            <div class="card-content">
            <button class="btn waves-effect waves-light" id="submit" type="submit" name="action">Search
                     </button>
            </div>
          </form>
          </div>
        </nav>
        </div>
</div>
            <div class="row">
            {% for recipe in recipes %}
            <!-- Cards containing the basic informations about the cocktails and the link the full version
            To offer better user experience. The picture and the title is also clickable to the same page as View recipe link -->
      <div class="recipe-publish col m4 s6">
        <div class="card" id="recipecard">
            <div class="card-image" id="imagerecipe">
                <a href="{{url_for('display_recipe', recipe_id=recipe._id)}}">
               <img alt="picture" class="responsive-img" src="{{recipe.picture}}"> 
               </a> 
            </div>
        <div class="card-content">
               <a href="{{url_for('display_recipe', recipe_id=recipe._id)}}">
               <span class="card-title" id="titlerecipe">{{recipe.title}}</span>
               </a>
            </div>
        <div class="card-action" id="card-action">
               <a href="{{url_for('display_categories', category_name= recipe.category_name)}}">{{recipe.category_name}}</a>  
            </div>
        </div>
      </div>
{% endfor %}
            </div>
</div>
{% endblock %} 